body{
	background: url("../imagenes/fondo_gratis3.jpg");
    background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Lato', sans-serif;
    color: #ffffff;

}
header{
	width: 100%;
}

.cabecera{
	max-width: auto;
	height: 120px;
    background-color: rgba(245,136,55,0.8);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

    #logo_icap{
		max-width: 150px;
        min-width: 100px;
        margin: 10px 2% 10px 7%;

	}
	#logo_icap img{
		width: 100%;
        height: 100%;

	}
	#logo_procesar{
		margin: 20px 2% 0px 0px;
		max-width: 200px;
	}
	#logo_procesar img{
		max-width: 100%;
        height: 40px;
	}

    .datos_usuario{
       box-sizing: border-box;
       margin: auto;
       padding: 1% 15%;
       background-color: rgb(16,113,185);
    }
    .datos_usuario input{
        width: 55px;
        background-color:#F58837;
        border: none;
    }
#linea_inf_header{

	width: 100%;
	height: 10px;
	background-color: rgba(16,113,185,0.8);
}
#btn-enviar{
	min-height: 43px;
	min-width: 20%;

}
.cabecera img:hover{
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-webkit-transition:1.5s;
}
.input_login{
	max-width: 20%;
	min-height: 38px;
	border-style: solid;
	border-width: 1px;
	background-color: transparent;


}

.cuerpo{
	position: relative;
	top: 0px;
	left:18.5%;
	right: 20%;
	max-width: 62%;
	height: 100vh;
    background-image: url(../imagenes/bg-body.jpg);
/*
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.9);
*/
}
    .cuerpo .inf-solicitud{
       background-color:#E5E5E5;
       color: black;
    }
    .cuerpo .form_solicitud{
        background-color:#E5E5E5;
        color: black;

    }
    .cuerpo .form_solicitud select{
    width: 40%;
    }

    .CRUD_user{
        box-sizing: border-box;
        position: relative;
        border: none;
        width: 90%;
        margin: auto;
        top: 0px;

    }
    .CRUD_user ul{
        background-color: rgba(16, 113, 185, 1);
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;

    }
    .CRUD_user > ul > li{
        box-sizing: border-box;
        padding: 10px 10px;


    }
    .CRUD_user > ul > li:nth-child(2){
        margin-right: auto;
    }

    .CRUD_user > ul > li:hover{
        background-color: rgb(12,66,111);
    }



.inf-solicitud{
    width: 90%;
    height: 80px;
/*    background-color:  rgba(16, 113, 185, 0.7);*/
    margin: auto;
    box-sizing: border-box;
    position: relative;
    top: 0px;
    padding: 10px;
    border: 1px solid #BEBEBE;
    border-collapse: collapse;
    border-bottom: none;

}
    .inf-solicitud > p:first-child{
        color: rgba(16, 113, 185, 1);
        font-size: 16px;
        font-weight: bold;
    }

.form_solicitud{
    background-color:#0C426F;
    width: 90%;
    height: 600px;
    margin: auto;
    position: relative;
    top: 0px;
    border: 1px solid #BEBEBE;
    border-collapse: collapse;
/*    border-top: none;*/
    box-sizing: border-box;
}
.form_solicitud form{
    -webkit-display:flex;
    display: flex;
    -webkit-flex-direction:column;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 20px;
    width: 80%;
    margin: auto;

}
.form_solicitud > form > label{
    margin: 10px;
    width: 20%;

}
.form_solicitud > form > select{
    width: 30%;
    height: 25px;
/*    background-color: rgba(12,66,111,0.3);*/
}
.form_solicitud > form > input{
    width: 30%;
    height: 30px;
    font-weight: bold;
}
    .form_solicitud > p:first-child{
        display: inline-block;
        padding: 10px;
        box-sizing: border-box;
        font-size: 18px;
        color: rgb(16,113,185);
        font-weight: bold;

    }
    .form_solicitud form > input{
        margin-top: 20px;
        margin-left: 450px;
        width:30%;
/*        border: 1px solid rgb(12,66,111);*/
        border: none;
        cursor: pointer;
        color: #ffffff;
        background: #1e5799; /* Old browsers */
        background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 97%, #7db9e8 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 97%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 97%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    }
    .form_solicitud form > input:hover{
        box-shadow: -6px 6px 5px #1e5799;


    }



.login_user{
	margin: 0px auto;
	max-width: 75%;
	background-color: #9F9B9A;
	padding:10px;
	filter:alpha(opacity=50); opacity:0.9;
}
.cont_img_tecl{
	max-width: 77.2%;
    height: 312px;
    margin: 45px auto 0px;

}
.cont_img_tecl img{
	width: 100%;
    height: 100%;

}
.img_usr{
	background: url("../imagenes/Imagenes/img/User-43.png");
	background-repeat: no-repeat;


}
.img_pws{
	background: url("../imagenes/Imagenes/img/Lock-43.png");
	background-repeat: no-repeat;

}
.input_login {
	padding-left: 15%;

}
.text_cuerpo{
    margin: 50px 12.5%;
}

 #btn-enviar{
     border: 0;
     background-color: #3093c7;
     background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
     background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
     background-image: linear-gradient(to bottom, #3093c7, #1c5a85);
     filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);

}

 #btn-enviar:hover{
     border: 0;
     background-color: #0073c7;
     background-image: -webkit-gradient(linear, left top, left bottom, from(#0073c7), to(#1c5a85));
     background-image: -webkit-linear-gradient(top, #0073c7, #1c5a85);
     background-image: -moz-linear-gradient(top, #0073c7, #1c5a85);
     background-image: -ms-linear-gradient(top, #0073c7, #1c5a85);
     background-image: -o-linear-gradient(top, #0073c7, #1c5a85);
     background-image: linear-gradient(to bottom, #0073c7, #1c5a85);
     filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0073c7, endColorstr=#1c5a85);

}


/*-------------------------------menu---------------------------------*/

.navegacion{
    width: 100%;
    background-color: #0C426F;
    border-bottom: 1px solid rgba(16, 113, 185, 0.6);
}

.navegacion nav{
    position: relative;
	top: 0px;
    left: 20%;
    display: inline-block;
    max-width: 62%;
    background-color: #0C426F;
    text-align: center;
}

.navegacion nav ul{
    list-style:none;
    position: relative;

}
.navegacion nav > ul > li{
    display: inline-block;

}
.navegacion nav > ul > li > a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 21px 20px 20px;
}


.navegacion nav > ul > li > a > span{
    font-size: 20px;
    position: absolute;
    bottom: -20px;
    display: none;
    color: rgba(16, 113, 185, 0.7);
    z-index: 1000;
}
.navegacion nav > ul > li:hover span{
    display: block;
}
.navegacion nav > ul > li > a:hover{
    text-decoration-line: underline;
}

.navegacion ul li input:first-of-type{
    text-indent: 10px;
    background-repeat: no-repeat;
    background-position: 5px;
    border: none;
    height: 30px;
    font-weight: bold;

}
.navegacion >span{
    position: relative;
    left: 22.5%;

}
.navegacion >span >input:first-child{
    font-weight: bold;
    height: 30px;
    border: none;
    text-indent: 12px
}
.navegacion >span >input:first-child + input{
    background-image: url(../imagenes/001-busqueda.png);
    background-repeat: no-repeat;
    padding: 8px 14px 8.5px;
    background-position: 4px 5px;
    border: none;
    cursor: pointer;
}

.navegacion ul li input:first-of-type + input:hover{

    cursor: pointer;

}
.navegacion nav ul li .submenu{
    padding: 0px;
    position: absolute;
    display: none;

}

.navegacion nav ul li:hover .submenu{
    display: flex;
    z-index: 1;
}
.navegacion nav > ul > li:first-of-type:hover{
    background-color: rgba(16, 113, 185, 0.6);

}
.submenu-item > ul > li > a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 50px;
/*    background-color: rgba(16, 113, 185, 0.7);*/
    background-color: #0C426F;
}
/*
.submenu-item > ul li:nth-child(3) > a {
    background-color: rgba(16, 113, 185, 0.5);

}
*/


.submenu-item > ul > li{
   border-bottom: 1px solid rgb(16, 113, 185);


}
.submenu-item > ul > li:first-of-type{
    position: relative;
    padding-top: 22px;
    border-bottom: none;
}

.submenu-item > ul > li:first-of-type span{
    position: absolute;
    top: 10px;
    left: 40px;
    display: block;
/*    color: rgba(16, 113, 185, 0.7);*/
    color: #0C426F;
}

.submenu-item > ul > li a:hover{

    background-color: rgba(16, 113, 185, 0.9);
}


/* Google Chrome y Safari */
*::-webkit-input-placeholder {
    color: #000000 !important;

}
/* Firefox anterior a 19 */
.micolor:-moz-placeholder {
    color: #000000 !important;

}
.input_login:-moz-placeholder {
    color: #000000 !important;

}
.input_login:-moz-placeholder {
    color: #000000 !important;

}
/* Firefox 19 y superior */
.micolor::-moz-placeholder {
    color: #000000 !important;

}
/* Internet Explorer 10 y superior */
*:-ms-input-placeholder {
    color: #000000 !important;
}


.cuerpo p{
    margin: 0px auto;
    text-align: justify;

}

.menubar{
    display: none;
}

/*Diseño reponsivo */

			         /*-------------------------------menor de 480px-------------------------------*/

@media(max-width: 480px) {
    body{
/*
    background: url("../imagenes/fondo_gratis3.jpg") center center;
    background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    height: 100vh;
    width: 100%;
*/
        background: url("../imagenes/fondo_gratis3.jpg");
    background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    }
	html{
		font-size: 62.5%;
/*        height: 100vh;*/
        width: 100%;
	}
	.cabecera{
		max-height: 65px;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        justify-content:space-between;
	}
    .cuerpo{
        height: 100%;
        max-width: 100%;
        left: 0px;
        background: rgba(0, 0, 0, 0.1);
    }

	#logo_icap{

		width: 1%;
        height: 35px;
        margin: 10px 1%;

	}
	#logo_icap img{
		max-width: 100%;

	}
	#logo_procesar{
		margin: 10px 2% 0px 0px;
        height: 40px;
        max-width: 20%;
	}
	#logo_procesar img{
		max-width: 100%;
	}
    .datos_usuario{
        background-color: rgba(16, 113, 185, 1);
        padding: 5px 1% 22px 8px;
        margin: 10px 1%;
        box-sizing: border-box;

    }
    .datos_usuario input{
        width: 55px;
        background-color:#F58837;
        border: none;
    }
    .datos_usuario br{
        display: none;
    }

    .input_login{
        margin-top: 9px;
	    display: block;
        min-width: 80%;
        font-size: 12px;
        text-align: center;

    }

    #btn-enviar{
        margin-top: 9px;
	    display: block;
        min-width: 96%;
        font-size: 15px;

    }
   .img_usr{
        background: url("../imagenes/Imagenes/img/User-43.png");
        background-repeat: no-repeat;

    }
   .img_pws{
        background: url("../imagenes/Imagenes/img/Lock-43.png");
        background-repeat: no-repeat;

     }
    .login_user input{
        margin-left: 3px;
    }
    .cont_img_tecl{
        min-width: 82.2%;
        height: 203px;
        margin: 28px auto 0px;

    }
    .cuerpo h4{
        margin: 0px auto;
        text-align: center;
    }
    .cuerpo p{
        margin: 0px auto;
        text-align: justify;

    }

    .text_cuerpo {
    margin: 13px 9.5%;
    text-align: center;
    }
                /*    menu*/


    .menubar{
        display: block;
        width: 100%;
        top: 70px;
        background: rgba(16, 113, 185, 1);
    }
    .menubar .btn-menu{
        display: inline-block;
        padding: 20px ;
        color: #ffffff;
        font-size: 16px;
        text-decoration: none;
        font-weight: bold;
         background: rgba(16, 113, 185, 1);

    }

    .menubar a:last-child{
        float: right;
    }

    .navegacion nav{
        width: 80%;
        position: absolute;
        top: 167px;
/*        overflow: scroll;*/
        height: calc(80%);
        z-index: 1000;
        left: -100%;
/*        display: none;*/
    }
    .navegacion nav>ul>li{
        display: block;
        border-bottom: 1px solid #ffffff;

    }
    .navegacion nav > ul > li > a{
        font-size: 12px

    }
    .navegacion nav > ul > li:last-child{
        display: none;
    }

    /* -----search-------*/



    .navegacion > span{
        position: relative;
        left: 0px;
        display: inline;

    }
    .navegacion >span >input:first-child{

        font-weight: bold;
        border: none;
        width: 78%;
        text-indent: 20px;

    }
   .navegacion >span >input:first-child + input{
        padding: 8px 9% 8.5px 10%;
        background-position: 50% 5px;

    }

    /*----- submenu-----*/

    .navegacion nav ul li .submenu{
        padding: 0px;
        position: relative;
        display: none;

    }

    .navegacion nav ul li:hover .submenu{
        display: flex;
        z-index: 1;
    }
    .submenu-item > ul > li:nth-child(1){
        display: none;
    }
    .submenu .submenu-item{
        width: 100%;
    }
    .submenu-item > ul > li > a{
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 10px auto;
        background-color: rgba(16, 113, 185, 0.7);

    }
    .submenu-item > ul > li > a:hover{
        text-decoration: underline;
    }

    .submenu-item > ul > li{
       border-top: 1px solid #0C426F;
        border-bottom: none;


    }

    .cuerpo .inf-solicitud{
       background-color:#E5E5E5;
       color: black;
    }
    .cuerpo .form_solicitud{
        background-color:#E5E5E5;
        color: black;
    }
    .cuerpo .form_solicitud select{
    width: 90%;
    }

    /*--------------CRUD_USER---------*/

    .CRUD_user{
    box-sizing: border-box;
    position: relative;
    border: none;
    width: 90%;
    margin: auto;
    top: 0px;

    }
    .CRUD_user ul{
        background-color: rgba(16, 113, 185, 1);
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;

    }


    .CRUD_user > ul > li{
        box-sizing: border-box;
        padding: 10px 10px;
/*        margin: 10px;*/

    }
    .CRUD_user > ul > li:nth-child(2){
        margin-right: auto;
    }
    .CRUD_user > ul > li:hover{
        background-color: rgb(12,66,111);
    }
    .inf-solicitud{
        top:0px;
        border: none;
    }

    .inf-solicitud > p:first-child{
        color: rgba(16, 113, 185, 1);
        font-size: 16px;
        font-weight: bold;
    }
    .inf-solicitud > p:last-child{
        display: inline;
    }
    .form_solicitud{
        top: 0px;
        border-top: 1px solid #BEBEBE;
        box-sizing: border-box;
        height: 430px;
    }
    .form_solicitud form > input{
        margin-top: 20px;
        width:90%;
        border: 1px solid rgb(12,66,111);
        background: #1e5799; /* Old browsers */
        background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    }
    .form_solicitud > p:first-child{
        display: inline-block;
        padding: 10px;
        box-sizing: border-box;
        font-size: 16px;
        color: rgb(16,113,185);
    }

}

			        /*-------------------------------entre 481 a 768--------------------------------*/


@media(min-width: 481px) and (max-width: 767px){
/*
       body{
    background: url("../imagenes/fondo_mobil.jpg") center center fixed;
    background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

    }
*/
    html{
		font-size: 93%;
	}
	.cabecera{
		max-height: 80px;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;

	}
	#logo_icap{
		width: 100px;
        margin: 10px 2% 10px 7%;

	}
	#logo_icap img{
		width: 100px;
        height: 100%

	}
	#logo_procesar{
		margin: 20px 2% 0px 0px;
		max-width: 200px;
	}
	#logo_procesar img{
		max-width: 100%;
	}

    .datos_usuario{
       box-sizing: border-box;
       max-width: 300px;
       margin: auto;
       padding: 1% 5%;
       background-color: rgb(16,113,185);

    }
    .datos_usuario br{
        display: none;
    }
    .datos_usuario input{
        width: 55px;
        background-color:#F58837;
        border: none;
    }
    .login_user > input{
        margin-top: 9px;
        min-width: 33.5%;
        font-size: 12px;
        text-align: center;

    }
    .cont_img_tecl{
        min-width: 78.3%;
        height: 203px;
        margin: 28px auto 0px;

    }
    #btn-enviar{
        margin-top: 9px;
	    display: block;
        min-width: 99%;
        font-size: 1em;

    }
    .cuerpo{
        height: 100%;
        max-width: 80%;
        left: 10.5%;
        background-image: url(../imagenes/bg-body.jpg)

    }
    .cuerpo h4{
        margin: 0px auto;
        text-align: center;
    }
    .cuerpo p{
        margin: 0px auto;
        text-align: justify;

    }
    .cuerpo .inf-solicitud{
       background-color:#E5E5E5;
       color: black;
    }
    .cuerpo .form_solicitud{
        background-color:#E5E5E5;
        color: black;
    }
    .cuerpo .form_solicitud select{
    width: 90%;
    }




            /*-------menu-------*/

    .menubar{
        display: block;
        width: 100%;
        top: 70px;
        background: rgba(16, 113, 185, 1);
    }
    .menubar .btn-menu{
        display: inline-block;
        padding: 20px ;
        color: #ffffff;
        font-size: 16px;
        text-decoration: none;
        font-weight: bold;
         background: rgba(16, 113, 185, 1);

    }

    .menubar a:last-child{
        float: right;
    }

    .navegacion nav{
        width: 80%;
        position: fixed;
        top: 182px;
        height: calc(100%);
        z-index: 1000;
        left: -100%;

    }
    .navegacion nav > ul> li{
        display: block;
        border-bottom: 1px solid #ffffff;

    }
    .navegacion nav > ul > li:last-child{
        display: none;
    }


    .navegacion nav > ul > li:nth-last-of-type(1){

         margin-top: 10px;
         display: none;
    }
    .navegacion nav ul li .submenu{
        padding: 0px;
        position: relative;
        display: none;

    }

    .navegacion nav ul li:hover .submenu{
        display: flex;
        z-index: 1;
    }
    .submenu-item > ul > li:nth-child(1){
        display: none;
    }
    .submenu .submenu-item{
        width: 100%;
    }
    .submenu-item > ul > li > a{
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 10px auto;
        background-color: rgba(16, 113, 185, 0.7);
        font-size: 12px;
    }
    .submenu-item > ul > li{
       border-top: 1px solid #0C426F;
       border-bottom: none;


    }
     .submenu-item > ul > li > a:hover{
        text-decoration: underline;
    }

        /* -----search-------*/



    .navegacion > span{
        position: relative;
        left: 0px;
        display: -webkit-flex;
        display: flex;
    }
    .navegacion >span >input:first-child{

        font-weight: bold;
        border: none;
        width: 94%;
        text-indent: 20px;

    }
   .navegacion >span >input:first-child + input{
        padding: 8px 20px 8.5px;
        background-position: 50% 5px;

    }

/*-------------CRUD-USER----------*/
        .CRUD_user{
    box-sizing: border-box;
    position: relative;
    border: none;
    width: 90%;
    margin: auto;
    top: 0px;

    }
    .CRUD_user ul{
        background-color: rgba(16, 113, 185, 1);
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;

    }


    .CRUD_user > ul > li{
        box-sizing: border-box;
        padding: 10px 10px;
/*        margin: 10px;*/

    }
    .CRUD_user > ul > li:nth-child(2){
        margin-right: auto;
    }
    .CRUD_user > ul > li:hover{
        background-color: rgb(12,66,111);
    }
    .inf-solicitud{
        top:0px;
        border: none;
    }

    .inf-solicitud > p:first-child{
        color: rgba(16, 113, 185, 1);
        font-size: 16px;
        font-weight: bold;
    }
    .inf-solicitud > p:last-child{
        display: inline;
    }
    .form_solicitud{
        top: 0px;
        border-top: 1px solid #BEBEBE;
        box-sizing: border-box;
        height: 430px;
    }
    .form_solicitud form > input{
        margin-top: 20px;
        width:90%;
        border: 1px solid rgb(12,66,111);
        background: #1e5799; /* Old browsers */
        background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    }
    .form_solicitud > p:first-child{
        display: inline-block;
        padding: 10px;
        box-sizing: border-box;
        font-size: 16px;
        color: rgb(16,113,185);
    }





}
			/*---------------------------------entre 768 y 1024-------------------------------------*/

@media (min-width: 768px) and (max-width:1024px){
       body{
    background: url("../imagenes/fondo_mobil.jpg") center center fixed;
    background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

    }
	.cabecera{
        max-height: 90px;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;

	}
	#logo_icap{
		width: 100px;
        margin: 10px 2% 10px 7%;

	}
	#logo_icap img{
		width: 100px;
        height: 100%

	}
	#logo_procesar{
		margin: 20px 2% 0px 0px;
		max-width: 200px;
	}
	#logo_procesar img{
		max-width: 100%;
	}

    .datos_usuario{
       box-sizing: border-box;
       max-width: 300px;
       margin: auto;
       padding: 1% 5%;
/*       background-color: rgb(12,66,111);*/
        background-color: rgb(16,113,185);

    }
    .datos_usuario input{
        width: 55px;
        background-color:#F58837;
        border: none;
    }
    .login_user > input{
        margin-top: 9px;
        min-width: 33.5%;
        font-size: 12px;
        text-align: center;

    }
     #btn-enviar{
	    min-width: 20%;


    }
    .cuerpo{
        height: 100%;
        max-width: 80%;
        left: 10.5%;
        background-image: url(../imagenes/bg-body.jpg)

    }

    .cuerpo h4{
        margin: 0px auto;
        text-align: center;
    }
    .cuerpo p{
        margin: 0px auto;
        text-align: justify;

    }
        .cuerpo .inf-solicitud{
       background-color:#E5E5E5;
       color: black;
    }
    .cuerpo .form_solicitud{
        background-color:#E5E5E5;
        color: black;
    }
    .cuerpo .form_solicitud select{
    width: 50%;
    }


    .navegacion{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    }
    .navegacion nav{
        display: inline-block;
        position: relative;
        left: 0%;
        max-width:70%;
        background-color: #0C426F;
        text-align: center;
    }

    .navegacion nav ul{
        list-style:none;
        position: relative;



    }
    .navegacion nav > ul > li{
        display: inline-block;

    }
    .navegacion nav > ul > li > a{
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 21px 20px 20px;
    }
    .navegacion span{
     position: relative;
        top: 10px;
        left: 0px;
       height: 34px;
    }
    .navegacion span >input{
        max-height: 100%;
    }
    /*-------------CRUD-USER----------*/
        .CRUD_user{
    box-sizing: border-box;
    position: relative;
    border: none;
    width: 90%;
    margin: auto;
    top: 0px;

    }
    .CRUD_user ul{
        background-color: rgba(16, 113, 185, 1);
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;

    }


    .CRUD_user > ul > li{
        box-sizing: border-box;
        padding: 10px 10px;
/*        margin: 10px;*/

    }
    .CRUD_user > ul > li:nth-child(2){
        margin-right: auto;
    }
    .CRUD_user > ul > li:hover{
        background-color: rgb(12,66,111);
    }
    .inf-solicitud{
        top:0px;
        border: none;
    }

    .inf-solicitud > p:first-child{
        color: rgba(16, 113, 185, 1);
        font-size: 16px;
        font-weight: bold;
    }
    .inf-solicitud > p:last-child{
        display: inline;
    }
    .form_solicitud{
        top: 0px;
        border-top: 1px solid #BEBEBE;
        box-sizing: border-box;
        height: 430px;
    }
    .form_solicitud form > input{
        margin-top: 20px;
        width:90%;
        border: 1px solid rgb(12,66,111);
        background: #1e5799; /* Old browsers */
        background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    }
    .form_solicitud > p:first-child{
        display: inline-block;
        padding: 10px;
        box-sizing: border-box;
        font-size: 16px;
        color: rgb(16,113,185);
    }

}

			/*-----------------------------------entre 1025 y 1280--------------------------------------*/

@media (min-width: 1025px) and (max-width: 1280px){
	.cabecera{
		max-height: 100px;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
	}

    #logo_icap{
		width: 100px;
        margin: 10px 2% 10px 7%;

	}
	#logo_icap img{
		width: 100px;
        height: 100%

	}
	#logo_procesar{
		margin: 20px 2% 0px 0px;
		max-width: 200px;
	}
	#logo_procesar img{
		max-width: 100%;
        height: 40px;
	}

    .datos_usuario{
       box-sizing: border-box;
/*       max-width: 300px;*/
       margin: auto;
       padding: 1% 10%;
/*       background-color: rgb(12,66,111);*/
    background-color: rgb(16,113,185);
    }
    .datos_usuario input{
        width: 55px;
        background-color:#F58837;
        border: none;
    }


/*---------------------------------------------------------------------------*/
        .navegacion{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    }
    .navegacion nav{
        display: inline-block;
        position: relative;
        left: 0%;
        max-width:70%;
        background-color: #0C426F;
        text-align: center;
    }

    .navegacion nav ul{
        list-style:none;
        position: relative;



    }
    .navegacion nav > ul > li{
        display: inline-block;

    }
    .navegacion nav > ul > li > a{
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 21px 20px 20px;
    }
    .navegacion span{
     position: relative;
        top: 10px;
        left: 0px;
       height: 34px;
    }
    .navegacion span >input{
        max-height: 100%;
    }
        .cuerpo{
        height: 100%;
        max-width: 80%;
        left: 10.5%;
        background-image: url(../imagenes/bg-body.jpg)

    }


    .cuerpo h4{
        margin: 0px auto;
        text-align: center;
    }
    .cuerpo p{
        margin: 0px auto;
        text-align: justify;

    }
    .cuerpo .inf-solicitud{
       background-color:#E5E5E5;
       color: black;
    }
    .cuerpo .form_solicitud{
        background-color:#E5E5E5;
        color: black;
    }
    .cuerpo .form_solicitud select{
    width: 50%;
    }

     .login_user > input{

        min-width: 23.5%;
        font-size: 12px;
        text-align: center;

    }
        /*-------------CRUD-USER----------*/
        .CRUD_user{
    box-sizing: border-box;
    position: relative;
    border: none;
    width: 90%;
    margin: auto;
    top: 0px;

    }
    .CRUD_user ul{
        background-color: rgba(16, 113, 185, 1);
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;

    }


    .CRUD_user > ul > li{
        box-sizing: border-box;
        padding: 10px 10px;

    }
    .CRUD_user > ul > li:nth-child(2){
        margin-right: auto;
    }
    .CRUD_user > ul > li:hover{
        background-color: rgb(12,66,111);
    }
    .inf-solicitud{
        top:0px;
        border: none;
    }

    .inf-solicitud > p:first-child{
        color: rgba(16, 113, 185, 1);
        font-size: 16px;
        font-weight: bold;
    }
    .inf-solicitud > p:last-child{
        display: inline;
    }
    .form_solicitud{
        top: 0px;
        border-top: 1px solid #BEBEBE;
        box-sizing: border-box;
        height: 430px;
    }
    .form_solicitud form > input{
        margin-top: 20px;
        width:90%;
        border: 1px solid rgb(12,66,111);
        background: #1e5799; /* Old browsers */
        background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    }

}






