body{
	background: url("../imagenes/fondo_principal.png");
    background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Lato', sans-serif;
    color: #ffffff;

}
header{
	width: 100%;
	filter:alpha(opacity=50); opacity:0.8;

}
h1{
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
    color:#FFFFFF;
    letter-spacing: 2px;
}
hr{
    background-color: #ffffff;
    width: 155px;
    height: 1px;
    border: 0;
    color: #ffffff;
}

.cabecera{

	max-width: auto;
	height: 120px;
	background-color: #F58837;
}

#logo_icap{
	max-width: 120px;
	float: left;
	margin: 20px 0 0 20%;
}

#logo_icap img{
	max-width: 120px;
}
#logo_procesar{
	float: right;
	margin: 40px 15% 0 0px;
    height: 45px;
}

#logo_procesar img{
	max-width: 150px;
	height: 100%;
}
#linea_inf_header{

	width: 100%;
	height: 10px;
	background-color: #1071B9;
}
#btn-enviar{
    box-sizing: border-box;
	min-height: 40px;
	width: 30%;
    margin-top: 5px;
}
.cabecera img:hover{
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-webkit-transition:1.5s;
}
.input_login{
    box-sizing: border-box;
	width: 34%;
	min-height: 40px;
	border-style: solid;
	border-width: 1px;
	background-color: transparent;
    text-align: center;


}

.cuerpo{
	position: relative;
	top: 0px;
	left:18.5%;
	right: 20%;
	max-width: 62%;
	height: 900px;
	background-color: #000000;
	padding-top: 43px;
	background-color: rgba(0, 0, 0, 0.8);
}

.login_user{
	margin: 0px auto;
	max-width: 75%;
	background-color: #9F9B9A;
	padding:10px;
	filter:alpha(opacity=50); opacity:0.9;
}
.cont_img_tecl{
	max-width: 77.2%;
    height: 312px;
    margin: 45px auto 0px;
}
.cont_img_tecl img{
	width: 100%;
    height: 100%;

}
.img_usr{
	background: url("../imagenes/Imagenes/img/User-43.png");
	background-repeat: no-repeat;


}
.img_pws{
	background: url("../imagenes/Imagenes/img/Lock-43.png");
	background-repeat: no-repeat;

}

.text_cuerpo{
    margin: 50px 12.5%;
}

 #btn-enviar{
     border: 0;
     background-color: #3093c7;
     background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
     background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
     background-image: linear-gradient(to bottom, #3093c7, #1c5a85);
     filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);

}

 #btn-enviar:hover{
     border: 0;
     background-color: #0073c7;
     background-image: -webkit-gradient(linear, left top, left bottom, from(#0073c7), to(#1c5a85));
     background-image: -webkit-linear-gradient(top, #0073c7, #1c5a85);
     background-image: -moz-linear-gradient(top, #0073c7, #1c5a85);
     background-image: -ms-linear-gradient(top, #0073c7, #1c5a85);
     background-image: -o-linear-gradient(top, #0073c7, #1c5a85);
     background-image: linear-gradient(to bottom, #0073c7, #1c5a85);
     filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0073c7, endColorstr=#1c5a85);

}

.navegacion{
    width: 100%;
    background-color: #0C426F;
    border-bottom: 1px solid rgba(16, 113, 185, 0.6);
}

.navegacion nav{
    position: relative;
	top: 0px;
	left:18.5%;
	right: 20%;
    max-width: 62%;
    background-color: #0C426F;
    text-align: center;
}

.navegacion nav ul{
    list-style:none;
    position: relative;

}
.navegacion nav > ul > li{
    display: inline-block;

}
.navegacion nav > ul > li > a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 21px 20px 20px;
}


.navegacion nav > ul > li > a > span{
    font-size: 20px;
    position: absolute;
    bottom: -20px;
    display: none;
    color: rgba(16, 113, 185, 0.7);
    /*color: #ffffff;*/
    z-index: 1000;
}
.navegacion nav > ul > li:hover span{
    display: block;
}
.navegacion nav > ul > li > a:hover{
    text-decoration-line: underline;
}

.navegacion ul li input:first-of-type{
    /*background-image: url(../imagenes/001-busqueda.png);    */
    text-indent: 10px;
    background-repeat: no-repeat;
    /*background-color: rgba(16, 113, 185, 0.6);*/
    background-position: 5px;
    /*filter:alpha(opacity=50); opacity:0.9;*/
    border: none;
    height: 30px;
    font-weight: bold;

}
.navegacion ul li input:first-of-type + input{
    background-image: url(../imagenes/001-busqueda.png);
    background-repeat: no-repeat;
    background-position: 4px 5px;
    padding: 8px 14px 8.5PX;
    border: none;

}
.navegacion ul li input:first-of-type + input:hover{
    /*background-color: #3093c7;*/
    cursor: pointer;

}
.navegacion nav ul li .submenu{
    padding: 0px;
    position: absolute;
    display: none;

}

.navegacion nav ul li:hover .submenu{
    display: flex;
    z-index: 1;
}
.navegacion nav > ul > li:first-of-type:hover{
    background-color: rgba(16, 113, 185, 0.6);

}
.submenu-item > ul > li > a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 50px;
    background-color: rgba(16, 113, 185, 0.7);
}
.submenu-item > ul li:nth-child(3) > a {
    background-color: rgba(16, 113, 185, 0.5);

}


.submenu-item > ul > li{
   border-bottom: 1px solid #0C426F;


}
.submenu-item > ul > li:first-of-type{
    position: relative;
    padding-top: 22px;
    border-bottom: none;
}

.submenu-item > ul > li:first-of-type span{
    position: absolute;
    top: 10px;
    left: 40px;
    display: block;
    color: rgba(16, 113, 185, 0.7);
}

.submenu-item > ul > li a:hover{

    background-color: rgba(16, 113, 185, 0.9);
}


/* Google Chrome y Safari */
*::-webkit-input-placeholder {
    color: #000000 !important;

}
/* Firefox anterior a 19 */
.micolor:-moz-placeholder {
    color: #000000 !important;

}
.input_login:-moz-placeholder {
    color: #000000 !important;

}
.input_login:-moz-placeholder {
    color: #000000 !important;

}
/* Firefox 19 y superior */
.micolor::-moz-placeholder {
    color: #000000 !important;

}
/* Internet Explorer 10 y superior */
*:-ms-input-placeholder {
    color: #000000 !important;
}

   .cuerpo h4{
        margin: 0px auto;
        text-align: center;
    }
    .text_cuerpo p{
        margin: 0px auto;
        text-align: justify;

    }


/*Diseño reponsivo */

			/*---------menor de 480px----------------*/

@media (max-width: 480px) {
    body{
    background: url("../imagenes/fondo_mobil.jpg") center center fixed !important;
    background-repeat: no-repeat !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;

    }
	html{
		font-size: 62.5%;
        height: vh100;
	}
	.cabecera{
		max-height: 60px;
	}
    .cuerpo{
        padding-top: 28px;
        height: vh100;
        max-width: 80%;
        left: 10.5%;

    }

	#logo_icap{
        width: 50px;
        margin: 10px 10%;
        box-sizing: border-box;

	}
	#logo_icap img{
		max-width: 100%;

	}
	#logo_procesar{
		margin: 15px 10%;
		width: 80px;
        height: 25px
	}
	#logo_procesar img{
		max-width: 100%;
	}
    .input_login{
        box-sizing: border-box;
        margin-top: 9px;
	    display: block;
        width: 95% !important;
        font-size: 12px;
        text-align: center;

    }

    #btn-enviar{
        margin-top: 9px;
	    display: block;
        min-width: 96%;
        font-size: 15px;

    }
   .img_usr{
        background: url("../imagenes/Imagenes/img/User-43.png");
        background-repeat: no-repeat;

    }
   .img_pws{
        background: url("../imagenes/Imagenes/img/Lock-43.png");
        background-repeat: no-repeat;

     }
    .login_user input{
        margin-left: 3px;
    }
    .cont_img_tecl{
        min-width: 82.2%;
        height: 203px;
        margin: 28px auto 0px;

    }
    .cuerpo h4{
        margin: 0px auto;
        text-align: center;
    }
    .cuerpo p{
        margin: 0px auto;
        text-align: justify;

    }

    .text_cuerpo {
    margin: 13px 9.5%;
    text-align: center;
    }
}
			/*-----------------------entre 481 a 768------------------------*/

@media(min-width: 481px) and (max-width: 767px){
        body{
    background: url("../imagenes/fondo_mobil.jpg") center center fixed !important;
    background-repeat: no-repeat !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;

    }

	.cabecera{
		max-height: 80px;
	}
	#logo_icap{
/*		margin: 20px 0 0 120px;*/
		max-width: 50px;
        margin: 17px 0  23px 15%;
        height: 50px;
        width: 50px;
	}
	#logo_icap img{
		width: 100%;
        height: 100%;
	}
	#logo_procesar{
		margin: 20px 15% 0 0;
		max-width: 90px;
        height: 40px;
	}
	#logo_procesar img{
		max-width: 100%;
	}

    .login_user form > input{
        margin-top: 9px;
        min-width: 33.5%;
        font-size: 12px;
        text-align: center;

    }
    .cont_img_tecl{
        min-width: 78.3%;
        height: 203px;
        margin: 28px auto 0px;

    }
    #btn-enviar{
        margin-top: 9px;
	    display: block;
        min-width: 99%;
        font-size: 1em;

    }
    .cuerpo{
        padding-top: 28px;
        height: 100%;
        max-width: 80%;
        left: 10.5%;

    }
    .cuerpo h4{
        margin: 0px auto;
        text-align: center;
    }
    .cuerpo p{
        margin: 0px auto;
        text-align: justify;

    }
    .input_login{
        box-sizing: border-box;
        width: 98.5%;
    }



}
			/*--------------------entre 768 y 1024-----------------------*/

@media (min-width: 768px) and (max-width:1024px){
	.cabecera{
		max-height: 90px;
	}
	#logo_icap{
		margin: 25px 0 0 15%;
		width: 70px;
	}
	#logo_icap img{
		width: 100%;

	}
	#logo_procesar{
		margin: 30px 10% 0 0;
		width: 15%;
        height: 40px;
	}
	#logo_procesar img{
		max-width: 100%;
	}
    .cuerpo{
        padding-top: 28px;
        height: 100%;
        max-width: 80%;
        left: 10%;
    }
    .login_user form > input{
        margin-top: 9px;
        min-width: 23.5%;
        font-size: 12px;
        text-align: center;

    }
     #btn-enviar{
	    min-width: 20%;


    }
    .cuerpo h4{
        margin: 0px auto;
        text-align: center;
    }
    .cuerpo p{
        margin: 0px auto;
        text-align: justify;

    }

    .input_login{
        box-sizing: border-box;
        display: inline !important;
        width: 49%;
    }
    #btn-enviar{
        box-sizing: border-box;
        width:99%;
    }
}

			/*----------------------entre 1025 y 1280------------------------*/

@media (min-width: 1025px) and (max-width: 1280px){
	.cabecera{
		max-height: 100px;
	}

	#logo_icap{
		margin: 20px 0 0 15%;
		width: 100px;
	}
	#logo_icap img{
		max-width: 100%;
	}


	#logo_procesar{
		margin: 35px 100px 0 0;
		width: 120px;
        height: 40px !important;
	}
	#logo_procesar img{
		max-width: 100%;
        height:100%
	}
    .cuerpo h4{
        margin: 0px auto;
        text-align: center;
    }
    .cuerpo p{
        margin: 0px auto;
        text-align: justify;

    }
    .login_user form > input{
        font-size: 12px;
        text-align: center;

    }
    .input_login{
        box-sizing: border-box;
        width: 49%;
    }
    #btn-enviar{
        box-sizing: border-box;
        margin-top: 5px;
        width:99%;
    }

}






